@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.5s;
}

.float-up {
  animation: float-up 0.5s ease-in-out;
}

.float-down {
  animation: float-down 0.5s ease-in-out;
}

body {
  @apply bg-white flex justify-center items-center min-h-screen text-gray-900;
  font-family: 'Helvetica', sans-serif;
}

.grid-box {
  @apply flex items-center justify-center w-16 h-16 border cursor-pointer rounded-lg;
  transition: transform 0.2s, background-color 0.2s;
}

.grid-box:hover {
  transform: scale(1.1);
}

.logo-box {
  @apply flex items-center justify-center w-16 h-16 border border-black rounded-lg mx-1;
}

.move-counter {
  @apply text-lg font-bold mt-4;
}

button {
  @apply transition duration-300 ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
